.btn {
  text-align: center;
  margin: 1rem;
  padding: 0.75rem;
  font-size: 0.6rem;

  position: relative;
  display: block;

  color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;

  // max-width: 400px;

  &:hover {
    background: var(--color-primary);
    color: #050801;
    box-shadow: 0 0 5px var(--color-primary), 0 0 25px var(--color-primary),
      0 0 50px var(--color-primary), 0 0 200px var(--color-primary);
    // -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  &:nth-child(even) {
    filter: hue-rotate(200deg);
  }

  span {
    position: absolute;
    display: block;

    &:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, var(--color-primary));
      animation: animate1 1s linear infinite;
    }

    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, var(--color-primary));
      animation: animate2 1s linear infinite;
      animation-delay: 0s;
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, var(--color-primary));
      animation: animate3 1s linear infinite;
      animation-delay: 0.5s;
    }

    &:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, var(--color-primary));
      animation: animate4 1s linear infinite;
      animation-delay: 1.5s;
    }
  }

  &-on {
    background: var(--color-primary);
    color: #050801;
    box-shadow: 0 0 5px var(--color-primary), 0 0 25px var(--color-primary),
      0 0 50px var(--color-primary), 0 0 200px var(--color-primary);
    -webkit-box-reflect: none;

    &:hover {
      background: none;
      color: var(--color-primary);
      color: #fff;
      -webkit-box-reflect: none;
      box-shadow: none;
    }
  }
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  50%,
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  50%,
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  50%,
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  50%,
  100% {
    transform: translateY(-100%);
  }
}

// Media
@media (min-width: 499px) {
  .btn {
    display: inline-block;
    width: 40%;
  }
}
