.menu-wrap-desktop {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  margin-right: 2rem;

  z-index: 1000;

  @media (min-width: 1023px) {
    display: block;
  }

  ul {
    display: flex;
    li {
      a {
        color: var(--text-white);
        p {
          padding-left: 1rem;
        }

        &:hover {
          color: var(--color-primary);
        }

        &.active {
          font-weight: 900;
        }
      }
    }
  }
}
