.padding {
  &__header {
    padding: 3.5rem 0;

    @media (min-width: 767px) {
      padding: 4rem 0;
    }
  }

  &__section {
    padding: 3rem 0;
  }

  &__widget {
    padding: 2rem 0;
  }

  &-1 {
    padding: 1rem;
  }

  &-2 {
    padding: 2rem;
  }

  &-3 {
    padding: 3rem;
  }
}
