// General Reset
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  background: green;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

input {
  border: none;
}

textarea {
  border: none;
}

// Image Reset
img {
  object-fit: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

// // // // // //
// Normalize //
// // // // // //

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack);
}

// h1 {
//   font-size: 3rem;
//   font-weight: 900;
//   padding: 1rem;
//   margin: 1rem;

//   @media (min-width: 767px) {
//     font-size: 4rem;
//     padding: ;
//     margin: ;
//   }
// }

// h2 {
//   font-size: ;
//   font-weight: ;
//   padding: ;
//   margin: ;

//   @media (min-width: 767px) {
//     font-size: ;
//     padding: ;
//     margin: ;
//   }
// }

// h3 {
//   font-size: ;
//   font-weight: ;
//   padding: ;
//   margin: ;

//   @media (min-width: 767px) {
//     font-size: ;
//     padding: ;
//     margin: ;
//   }
// }

// h4 {
//   font-size: ;
//   font-weight: ;
//   padding: ;
//   margin: ;

//   @media (min-width: 767px) {
//     font-size: ;
//     padding: ;
//     margin: ;
//   }
// }

// h5 {
//   font-size: ;
//   font-weight: ;
//   padding: ;
//   margin: ;

//   @media (min-width: 767px) {
//     font-size: ;
//     padding: ;
//     margin: ;
//   }
// }

// h6 {
//   font-size: ;
//   font-weight: ;
//   padding: ;
//   margin: ;

//   @media (min-width: 767px) {
//     font-size: ;
//     padding: ;
//     margin: ;
//   }
// }
