.ribbon {
  margin: 0 auto;

  // Modify the flex of the icons via their container
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--icon {
      flex: 1;
      font-size: 3rem;
      color: var(--text-white);
      text-align: center;
      transition: all 0.2s linear;

      &:hover {
        color: var(--color-secondary);
      }

      .fas,
      .fab {
        margin-top: 30px;
        margin-bottom: 20px;
      }

      p {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
}
