* {
  --font-stack: "Poppins", sans-serif;
  --hamburger-menu-background-color: rgba(0, 0, 0, 0.8);

  // Text Colors
  --text-white: #fff;
  --text-grey: #ddd;

  // Colors
  --color-primary: #f7347a;
  --color-secondary: #008d8a;
}
