* {
  --font-stack: "Roboto", arial;

  /* Custimize your sign */
  --neon-size: 10vw; /*vw used for responsiveness */
  --neon-color-off: #441526;
  --neon-color-on: #f7347a;
  --neon-font: "Las Enter";

  // Website sections
  --hamburger-menu-background-color: rgba(0, 0, 0, 0.8);
  --footer-color: #000;
  --widget-background-dark: #1a1919;

  // Text Colors
  --text-white: #fff;
  --text-grey: #ccc;

  // Colors
  --color-primary: #f7347a;
  --color-secondary: #008d8a;
  --color-white: #fff;
}
