@font-face {
  font-family: "Las Enter";
  src: url("fonts/LasEnter.woff2") format("woff2"),
    url("fonts/LasEnter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pricedown";
  src: url("fonts/pricedown_bl-webfont.woff2") format("woff2"),
    url("fonts/pricedown_bl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "variables";
@import "reset";
@import "utilities";
@import "buttons";
@import "hamburger";
@import "desktop_menu";
@import "space_background";
@import "preloader";
@import "logo";
@import "padding";
@import "containers";
@import "banner";
@import "buttons";
@import "main_header";
@import "page_header";
@import "ribbon";
@import "swiper";
@import "testimonials";
@import "footer";
@import "popup_card";
@import "contact";
@import "about";
@import "page_transition";
@import "services";
